body {
  font-family: "opensans", "Arial", "Serif";
  color: #000000;
  width: 100%;
  margin: 0; }

@font-face {
  font-family: "opensans";
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff"); }

@font-face {
  font-family: "opensansbold";
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff"); }

.page-header {
  min-height: 63px; }

.page-header__wrapper {
  width: 320px;
  margin: 0 auto;
  background-color: #ffffff;
  background-image: url("../img/logo-black.png");
  background-repeat: no-repeat;
  background-position: 30px 15px; }
  @media (min-width: 1150px) {
    .page-header__wrapper {
      width: 1150px; } }

.page-header__logo {
  width: 176px;
  height: 30px;
  background-image: url("../img/logo-black.png");
  background-repeat: no-repeat;
  background-position: 30px 15px; }

.page-header__menu--open p {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  color: #ffffff; }
  @media (min-width: 1150px) {
    .page-header__menu--open p {
      padding-left: 50px;
      padding-right: 50px; } }

.page-header__menu--open ul {
  margin: 0;
  padding: 0;
  padding-left: 60px;
  padding-top: 95px;
  padding-bottom: 110px; }

.page-header__menu--open li {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0; }
  .page-header__menu--open li a {
    text-decoration: none;
    color: #fb9f18;
    padding-bottom: 30px; }
  .page-header__menu--open li a:last-child {
    padding-bottom: 0; }

.page-header__phone a {
  text-decoration: none;
  color: #000000;
  display: block; }

.page-header__phone-but {
  background-color: #fb9f18;
  color: #ffffff;
  width: 133px;
  text-align: center;
  border-radius: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 18px;
  margin-bottom: 40px; }

.page-footer {
  background: red; }

.profit__wrapper {
  width: 320px;
  margin: 0 auto;
  background-color: #00919b;
  background-image: url(../img/car-time-mob.png);
  background-repeat: no-repeat;
  background-position: 20px 150px; }
  @media (min-width: 1150px) {
    .profit__wrapper {
      width: 1150px; } }
  .profit__wrapper h1 {
    color: #ffffff;
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
    padding-bottom: 300px; }
    @media (min-width: 1150px) {
      .profit__wrapper h1 {
        padding-left: 50px;
        padding-right: 50px; } }
  .profit__wrapper .profit__profits {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #ffffff; }
    .profit__wrapper .profit__profits div {
      width: 130px;
      padding-left: 15px;
      padding-right: 15px;
      padding-right: 0;
      display: flex;
      flex-direction: column;
      margin-bottom: 40px; }
      @media (min-width: 1150px) {
        .profit__wrapper .profit__profits div {
          padding-left: 50px;
          padding-right: 50px; } }
    .profit__wrapper .profit__profits div:nth-child(2n) {
      padding-left: 15px; }
  .profit__wrapper .profit__num {
    font-size: 24px;
    padding-bottom: 20px; }
  .profit__wrapper .profit__description {
    font-size: 13px; }

.credit-calc__wrapper {
  width: 320px;
  margin: 0 auto; }
  @media (min-width: 1150px) {
    .credit-calc__wrapper {
      width: 1150px; } }
  .credit-calc__wrapper h2 {
    font-size: 21px;
    margin: 0;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 40px;
    padding-bottom: 35px; }
    @media (min-width: 1150px) {
      .credit-calc__wrapper h2 {
        padding-left: 50px;
        padding-right: 50px; } }
  .credit-calc__wrapper label {
    font-weight: bold;
    display: block;
    font-size: 15px;
    padding-bottom: 20px; }
  .credit-calc__wrapper input {
    width: 290px; }
  .credit-calc__wrapper span {
    font-size: 16px;
    line-height: 24px;
    padding-top: 10px;
    color: #3b3b3b; }

.credit-calc__costs {
  padding-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px; }
  @media (min-width: 1150px) {
    .credit-calc__costs {
      margin-left: 50px;
      margin-right: 50px; } }

.credit-calc__days {
  padding-top: 35px;
  margin-left: 15px;
  margin-right: 15px;
  border-top: 1px solid #e8e8e8; }
  @media (min-width: 1150px) {
    .credit-calc__days {
      margin-left: 50px;
      margin-right: 50px; } }

.credit-calc__value {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px; }

.credit-calc__nb {
  color: #888888;
  font-size: 13px;
  line-height: 28px;
  margin-top: 30px;
  margin-bottom: 30px; }

.credit-calc__results {
  margin-top: 30px;
  background-color: #fb9f18;
  background-image: url("../img/car1-mob.png");
  background-repeat: no-repeat;
  background-position: 20px 220px;
  min-height: 387px; }

.credit-calc__results-middle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.credit-calc__results-monthly-payment {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 140px;
  max-width: 140px;
  margin-left: 30px; }

.credit-calc__results-about {
  max-width: 50px; }

.credit-calc__results-rate {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 130px;
  max-width: 130px; }

.credit-calc__results-total {
  display: block;
  color: #ffffff;
  margin-left: 100px;
  margin-top: 60px;
  margin-bottom: 10px; }

.credit-calc__results-sum {
  color: #00919b;
  margin-left: 100px;
  border-radius: 4px;
  background-image: linear-gradient(0deg, white 0%, #efcd9b 12%, white 100%);
  box-shadow: inset 0px 2px 3px 0px rgba(49, 39, 14, 0.39);
  padding: 10px;
  font-size: 42px;
  line-height: 24px; }

.advantages h2 {
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  margin-left: 15px; }

.advantages ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0; }

.advantages li {
  list-style: none;
  max-width: 130px;
  padding-top: 120px;
  margin-left: 15px;
  font-size: 13px;
  line-height: 18px; }

.advantages li:nth-child(2n) {
  padding-left: 30px; }

.advantages__wrapper {
  width: 320px;
  margin: 0 auto; }
  @media (min-width: 1150px) {
    .advantages__wrapper {
      width: 1150px; } }

.reviews__wrapper {
  width: 320px;
  margin: 0 auto; }
  @media (min-width: 1150px) {
    .reviews__wrapper {
      width: 1150px; } }
  .reviews__wrapper h2 {
    font-size: 21px;
    line-height: 54px;
    text-transform: uppercase;
    margin-left: 15px; }

.reviews__slide p {
  font-size: 13px;
  line-height: 18px;
  margin-left: 15px; }

.reviews__slide img {
  display: block;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto; }

.reviews__slide span {
  display: block;
  font-size: 15px;
  line-height: 21px;
  margin-left: 105px; }

.reviews__slide time {
  display: block;
  font-size: 13px;
  line-height: 21px;
  color: #7b7b7b;
  margin-left: 120px; }

.profitable-terms__wrapper {
  width: 320px;
  margin: 0 auto;
  background-color: #f5f5f5;
  padding-bottom: 40px; }
  @media (min-width: 1150px) {
    .profitable-terms__wrapper {
      width: 1150px; } }
  .profitable-terms__wrapper h2 {
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    margin-left: 15px;
    padding-top: 40px; }
  .profitable-terms__wrapper p {
    font-size: 15px;
    line-height: 21px;
    margin-left: 15px;
    margin-right: 15px; }

.profitable-terms__requirements {
  margin-left: 10px;
  margin-right: 10px;
  background-color: #ffffff; }
  .profitable-terms__requirements h3 {
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
    padding-left: 10px; }
  .profitable-terms__requirements ul {
    margin: 0;
    padding: 0; }
  .profitable-terms__requirements li {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 13px;
    line-height: 31px; }

.profitable-terms__docs {
  margin-left: 10px;
  margin-right: 10px;
  background-color: #ffffff; }
  .profitable-terms__docs h3 {
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
    padding-left: 10px; }
  .profitable-terms__docs ul {
    margin: 0;
    padding: 0; }
  .profitable-terms__docs li {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 13px;
    line-height: 31px; }

.steps__wrapper {
  width: 320px;
  margin: 0 auto;
  padding-bottom: 40px; }
  @media (min-width: 1150px) {
    .steps__wrapper {
      width: 1150px; } }
  .steps__wrapper h2 {
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    margin-left: 15px; }
  .steps__wrapper ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    margin-left: 20px;
    margin-right: 20px; }
  .steps__wrapper li {
    list-style: none;
    max-width: 100px;
    padding-top: 20px;
    font-size: 13px;
    line-height: 18px; }
  .steps__wrapper li:nth-child(2n) {
    align-self: flex-end; }

.order__wrapper {
  width: 320px;
  margin: 0 auto;
  padding-bottom: 80px; }
  @media (min-width: 1150px) {
    .order__wrapper {
      width: 1150px; } }

.order__profit {
  background-color: #00919b;
  background-image: url(../img/car-time-mob.png);
  background-repeat: no-repeat;
  background-position: 15px 50px;
  min-height: 326px; }

.order__now {
  margin-left: 15px;
  margin-right: 15px; }
  @media (min-width: 1150px) {
    .order__now {
      margin-left: 50px;
      margin-right: 50px; } }
  .order__now h2 {
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase; }
  .order__now p {
    font-size: 15px;
    line-height: 21px;
    padding-bottom: 35px; }
  .order__now a {
    text-decoration: none;
    display: block;
    color: #000000; }
  .order__now span {
    color: #888888;
    font-size: 13px;
    line-height: 24px;
    margin-left: 25px; }

.order__questionnaire {
  color: #ffffff;
  border-radius: 50px;
  background-color: #fb9f18;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px; }

.order__call {
  color: #ffffff;
  border-radius: 50px;
  background-color: #ffffff;
  border: 1px solid #fb9f18;
  color: #fb9f18;
  padding: 10px;
  text-align: center;
  margin-bottom: 40px; }

.order__tel {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-align: center; }

.faq__wrapper {
  width: 320px;
  margin: 0 auto; }
  @media (min-width: 1150px) {
    .faq__wrapper {
      width: 1150px; } }
  .faq__wrapper h2 {
    font-size: 21px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px; }
    @media (min-width: 1150px) {
      .faq__wrapper h2 {
        margin-left: 50px;
        margin-right: 50px; } }
  .faq__wrapper p {
    font-size: 15px;
    line-height: 18px;
    margin-left: 15px;
    margin-right: 15px; }
    @media (min-width: 1150px) {
      .faq__wrapper p {
        margin-left: 50px;
        margin-right: 50px; } }

.questions-answers {
  color: #fb9f18;
  text-decoration: none;
  border-bottom: 1px dotted #fb9f18;
  display: block;
  min-width: 200px;
  max-width: 200px;
  margin-left: 15px; }

.faq__questions {
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px; }
  @media (min-width: 1150px) {
    .faq__questions {
      margin-left: 50px;
      margin-right: 50px; } }
  .faq__questions div {
    margin-bottom: 30px; }
  .faq__questions b {
    font-size: 13px;
    line-height: 19px; }
  .faq__questions p {
    margin: 0;
    font-size: 13px;
    line-height: 19px; }

.another-question {
  margin-left: 15px;
  margin-right: 15px;
  border: 1px solid #dcdcdc;
  min-width: 185px;
  max-width: 185px;
  padding-left: 70px;
  padding-top: 20px;
  padding-bottom: 20px; }
  @media (min-width: 1150px) {
    .another-question {
      margin-left: 50px;
      margin-right: 50px; } }
  .another-question b {
    font-size: 15px;
    line-height: 21px; }
  .another-question span {
    font-size: 13px;
    line-height: 21px; }
  .another-question a {
    color: #1565c0; }
