@mixin container() {
	width: 320px;
	margin: 0 auto;

	  // @media #{$tablet-widths} {
	  //  width: 768px;
	  // }
	  @media #{$desktop-widths} {
	   width: 1150px;
	  }
}

@mixin side-padding {
	padding-left: 30px;
	padding-right: 30px;

		@media #{$desktop-widths}
		 {
			padding-left: 50px;
		 	padding-right: 50px;
	  }
}


@mixin side-margin {
	margin-left: 30px;
	margin-right: 30px;

		@media #{$desktop-widths}
		 {
			margin-left: 50px;
		 	margin-right: 50px;
	  }
}
