.advantages {
  h2 {
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    margin: 0;
    margin-left: 15px;
    margin-bottom: -25px;
    padding-top: 35px;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    position: relative;
  }
  ul:after {
    content: "";
    display:block;
    height: 705px;
    width: 1px;
    background-color: #e8e8e8;
    position: absolute;
    left: 50%;
    top: 60px;
  }
  li {
    list-style: none;
    max-width: 130px;
    margin-top: 120px;
    margin-left: 15px;
    font-size: 13px;
    line-height: 18px;
    position: relative;
      svg {
        position: absolute;
        fill: #000;
        top: -60px;
      }
  }
  li:nth-child(2n) {
    padding-left: 20px;
  }

  .advantages__item-line:after {
      content: "";
      display:block;
      height: 1px;
      width: 290px;
      background-color: #e8e8e8;
      position: absolute;
      left: -12%;
      bottom: -20px;
      box-sizing: border-box;
      @include side-margin;
  }
  // .advantages__item--guard:before {
  //   content: "";
  //   // display: block;
  //   width: 36px;
  //   height: 36px;
  //   // background-position: -10px -10px;
  //   // background-image: url("../img/spritesheet.png");
  //   background-image: url("../img/advantages__1.svg");
  //   // background-repeat: no-repeat;
  //   position: absolute;
  //   top: -60px;
  // }
  // .advantages__item--percent:before {
  //   content: "";
  //   display: block;
  //   width: 36px;
  //   height: 36px;
  //   // background-position: -66px -10px;
  //   // background-image: url("../img/spritesheet.png");
  //   background-image: url("../img/advantages__2.svg");
  //   fill: #f78c00;
  //   background-repeat: no-repeat;
  //   position: absolute;
  //   top: -60px;
  // }
  // .advantages__item--guarantor:before {
  //   content: "";
  //   display: block;
  //   width: 36px;
  //   height: 36px;
  //   background-position: -122px -10px;
  //   background-image: url("../img/spritesheet.png");
  //   background-repeat: no-repeat;
  //   position: absolute;
  //   top: -60px;
  // }
  // .advantages__item--insurance:before {
  //   content: "";
  //   display: block;
  //   width: 36px;
  //   height: 34px;
  //   background-position: -178px -10px;
  //   background-image: url("../img/spritesheet.png");
  //   background-repeat: no-repeat;
  //   position: absolute;
  //   top: -60px;
  // }
  // .advantages__item--insurance:before {
  //   content: "";
  //   display: block;
  //   width: 36px;
  //   height: 34px;
  //   background-position: -178px -10px;
  //   background-image: url("../img/spritesheet.png");
  //   background-repeat: no-repeat;
  //   position: absolute;
  //   top: -60px;
  // }
  // .advantages__item--prolongation:before {
  //   content: "";
  //   display: block;
  //   width: 36px;
  //   height: 36px;
  //   background-position: -234px -10px;
  //   background-image: url("../img/spritesheet.png");
  //   background-repeat: no-repeat;
  //   position: absolute;
  //   top: -60px;
  // }
  // .advantages__item--certificate:before {
  //   content: "";
  //   display: block;
  //   width: 30px;
  //   height: 38px;
  //   background-position: -290px -10px;
  //   background-image: url("../img/spritesheet.png");
  //   background-repeat: no-repeat;
  //   position: absolute;
  //   top: -60px;
  // }
  // .advantages__item--loan:before {
  //   content: "";
  //   display: block;
  //   width: 33px;
  //   height: 36px;
  //   background-position: -340px -10px;
  //   background-image: url("../img/spritesheet.png");
  //   background-repeat: no-repeat;
  //   position: absolute;
  //   top: -60px;
  // }
  // .advantages__item--agreement:before {
  //   content: "";
  //   display: block;
  //   width: 36px;
  //   height: 34px;
  //   background-position: -393px -10px;
  //   background-image: url("../img/spritesheet.png");
  //   background-repeat: no-repeat;
  //   position: absolute;
  //   top: -60px;
  // }
}
.advantages__wrapper {
  @include container;
  background-color: $white;
  // padding-bottom: 30px;
  // margin-bottom: 30px;
}

@media #{$desktop-widths} {
  .advantages__wrapper {
    padding-bottom: 40px;
    margin-bottom: 30px;
      h2 {
        font-size: 24px;
        padding-top: 35px;
        padding-left: 15px;
        // @include side-padding;
      }
      ul {
        padding-left: 0px;
        margin-left: -20px;
        padding-bottom: 15px;
      }
      ul:after {
        content: "";
        display:block;
        height: 1px;
        width: 915px;
        background-color: #e8e8e8;
        position: absolute;
        left: 45px;
        top: 53%;
      }
      li {
        max-width: 180px;
        padding-right: 30px;
        padding-left: 30px;
        padding-bottom: 0px;
      }
      .advantages__item-line:after {
        display: none;
      }

      .advantages__item-second-line:after {
        content: "";
        display: block;
        height: 300px;
        width: 1px;
        background-color: #e8e8e8;
        position: absolute;
        left: 205px;
        bottom: 0px;
        box-sizing: border-box;
      }
      .advantages__item-fird-line:after {
        content: "";
        display: block;
        height: 300px;
        width: 1px;
        background-color: #e8e8e8;
        position: absolute;
        left: 255px;
        bottom: 0px;
        box-sizing: border-box;
      }
      .advantages__item-fourth-line:after {
        content: "";
        display: block;
        height: 300px;
        width: 1px;
        background-color: #e8e8e8;
        position: absolute;
        left: 255px;
        bottom: 0px;
        box-sizing: border-box;
      }

  }

}
