.faq__wrapper {
  @include container;
  padding-bottom: 40px;
  background-color: $white;
    h2 {
      font-size: 21px;
      line-height: 30px;
      text-transform: uppercase;
      margin: 0;
      padding: 0;
      @include side-margin;
      margin-bottom: 30px;
    }
    p {
      font-size: 15px;
      line-height: 18px;
      @include side-margin;
    }
}
.questions-answers {
  color: $orange;
  text-decoration: none;
  border-bottom: 1px dotted $orange;
  display: block;
  min-width: 200px;
  max-width: 200px;
  margin-left: 15px;
  position: relative;
  // @include side-margin;
}
.questions-answers:after {
  position: absolute;
  content: "";
  display: block;
  width: 33px;
  height: 33px;
  border: 1px solid $orange;
  border-radius: 50%;
  box-sizing: border-box;
  right: -50px;
  top: 10px;
}
.questions-answers:before {
  position: absolute;
  content: "";
  display: block;
  right: -41px;
  top: 23px;
  width: 14px;
  height: 8px;
  background-position: -449px -10px;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  box-sizing: border-box;
}
.questions-answers:hover:after {
  border: 1px solid $rgbl;
}
.questions-answers:hover:before {
  background-position: -483px -10px;
}
.faq__questions {
  margin-top: 30px;
  @include side-margin;
    div {
      margin-bottom: 30px;
    }
    b {
      font-size: 13px;
      line-height: 19px;
    }
    p {
      margin: 0;
      font-size: 13px;
      line-height: 19px;
    }
}

.another-question {
  @include side-margin;
  border: 1px solid #dcdcdc;
  min-width: 185px;
  max-width: 185px;
  padding-left: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
  // padding-right: 35px;
  position: relative;
    b {
      font-size: 15px;
      line-height: 21px;
    }
    b:before {
      content: "?";
      display: block;
      width: 35px;
      height: 35px;
      border: 2px solid $orange;
      border-radius: 50%;
      left: 15px;
      top: 25px;
      position: absolute;
      padding-left: 10px;
      padding-top: 5px;
      box-sizing: border-box;
    }
    span {
      font-size: 13px;
      line-height: 21px;
    }
    a {
      color: #1565c0;
    }
}

@media #{$desktop-widths} {
  .faq__wrapper {
    padding-top: 40px;
    position: relative;
      p {
        max-width: 800px;
      }
      .questions-answers {
        max-width: 375px;
        @include side-margin;
      }
      .questions-answers:after {
        top: -3px;
      }
      .questions-answers:before {
        top: 10px;
      }
  }
  .faq__questions {
    max-width: 640px;
    position: relative;
  }
  .another-question {
    position: absolute;
    right: 30px;
    bottom: 140px;
  }
}
