.faq__wrapper {
  @include container;
  padding-bottom: 40px;
  background-color: $white;
    h2 {
      font-size: 21px;
      line-height: 30px;
      text-transform: uppercase;
      margin: 0;
      padding: 0;
      @include side-margin;
      margin-top: -5px;
      margin-bottom: 15px;
    }
    p {
      font-size: 15px;
      line-height: 18px;
      @include side-margin;
      margin-bottom: 35px;
    }
}
.faq__questions-answers-container {
  position: relative;
}
.faq__questions-answers-container:before {
  content: "";
  display: block;
  width: 145px;
  height: 1px;
  border-bottom: 1px dashed $orange;
  position: absolute;
  top: 16px;
  left: 15px;
}
.faq__questions-answers-container:after {
  content: "";
  display: block;
  width: 125px;
  height: 1px;
  border-bottom: 1px dashed $orange;
  position: absolute;
  top: 35px;
  left: 15px;
}
.faq__questions-answers-container:hover:before {
  color: $rgbl;
  border-bottom: 1px dotted $rgbl;
  transition: all 0.2s ease-in-out 0s;
}
.faq__questions-answers-container:hover:after {
  color: $rgbl;
  border-bottom: 1px dotted $rgbl;
  transition: all 0.2s ease-in-out 0s;
}
.faq__questions-answers:hover {
  color: $rgbl;
  transition: all 0.2s ease-in-out 0s;
}
.faq__questions-answers {
  color: $orange;
  text-decoration: none;
  display: inline-block;
  min-width: 200px;
  max-width: 200px;
  margin-left: 15px;
  position: relative;
  font-size: 15px;
  // @include side-margin;
}
.faq__questions-answers:after {
  position: absolute;
  content: "";
  display: block;
  width: 33px;
  height: 33px;
  border: 1px solid $orange;
  border-radius: 50%;
  box-sizing: border-box;
  right: 5px;
  top: 0px;
}
.faq__questions-answers:before {
  position: absolute;
  content: "";
  display: block;
  right: 15px;
  top: 15px;
  width: 14px;
  height: 8px;
  background-position: -449px -10px;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  box-sizing: border-box;
}
.faq__questions-answers:hover:after {
  border: 1px solid $rgbl;
  transition: all 0.2s ease-in-out 0s;
}
.faq__questions-answers:hover:before {
  background-position: -483px -10px;
}
.faq__questions {
  margin-top: 30px;
  @include side-margin;
    div {
      margin-bottom: 20px;
    }
    b {
      font-size: 13px;
      line-height: 19px;
    }
    p {
      margin: 0;
      font-size: 13px;
      line-height: 19px;
    }
}

.faq__another-question {
  @include side-margin;
  border: 1px solid #dcdcdc;
  min-width: 150px;
  max-width: 150px;
  padding-left: 70px;
  padding-top: 15px;
  padding-bottom: 15px;
  // padding-right: 35px;
  position: relative;
    b {
      font-size: 15px;
      line-height: 21px;
    }
    b:before {
      content: "?";
      display: block;
      width: 35px;
      height: 35px;
      border: 2px solid $orange;
      border-radius: 50%;
      left: 20px;
      top: 20px;
      position: absolute;
      padding-left: 10px;
      padding-top: 5px;
      box-sizing: border-box;
    }
    span {
      font-size: 13px;
      line-height: 21px;
    }
    a {
      color: #1565c0;
    }
    a:hover {
      color: $rgbl;
      transition: all 0.2s ease-in-out 0s;
    }
}

@media #{$desktop-widths} {
  .faq__wrapper {
    padding-top: 30px;
    margin-bottom: 40px;
    position: relative;
    padding-bottom: 25px;
      h2 {
        margin-left: 30px;
        font-size: 24px;
        margin-bottom: 20px;
      }
      p {
        max-width: 800px;
        margin-left: 30px;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 55px;
      }
      .faq__questions-answers-container:after {
        display: none;
      }
      .faq__questions-answers-container:before {
        display: none;
      }
      .faq__questions-answers {
        max-width: none;
        margin-left: 30px;
        border-bottom: 1px dotted $orange;
      }
      .faq__questions-answers:hover {
        border-bottom: 1px dotted $rgbl;
      }
      .faq__questions-answers:after {
        top: -3px;
      }
      .faq__questions-answers:before {
        top: 10px;
      }
  }
  .faq__questions {
    max-width: 630px;
    position: relative;
    margin-top: 20px;
    margin-left: 30px;
      div {
        margin-bottom: -20px;
          p {
            padding-top: 10px;
            margin-left: 0px;
            font-size: 15px;
          }
      }
      div:last-child {
        margin-bottom: 0px;
          p {
            margin-bottom: 0;
          }
      }

  }
  .faq__another-question {
    position: absolute;
    right: -60px;
    bottom: 130px;
    border: none;
      span {
        font-size: 13px;
      }
  }
  .faq__another-question:after {
    content: "";
    display: block;
    width: 237px;
    height: 72px;
    background-image: url("../img/border.png");
    position: absolute;
    top: 5px;
    left: -20px;
  }
}
