.order__wrapper {
  @include container;
  display: flex;
  flex-direction: column;
}
.order__profit {
  background-color: $rgbl;
  background-image: url("../img/car-time-mob.png");
  background-repeat: no-repeat;
  background-position: 15px 50px;
  min-height: 326px;
}

.order__now {
  background-color: $white;
  padding-bottom: 70px;

  h2 {
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    @include side-margin;
  }

  p {
    @include side-margin;
    font-size: 15px;
    line-height: 21px;
    padding-bottom: 35px;
  }
  a {
    text-decoration: none;
    display: block;
    @include side-margin;
  }
  span {
    color: #888888;
    @include side-margin;
    font-size: 13px;
    line-height: 24px;
    margin-left: 25px;
  }
}
.order__questionnaire {
  // color: $white;
  // border-radius: 50px;
  // background-color: $orange;
  // display: block;
  // // text-align: center;
  // text-transform: uppercase;
  // font-size: 13px;
  // line-height: 21px;
  // padding: 5px;

  display: block;
  // min-width: 187px;
  // max-width: 187px;
  color: $white;
  border-radius: 50px;
  background-color: $orange;
  border: 1px solid $white;
  color: $white;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 21px;
  margin-bottom: 10px;
}
.order__questionnaire:hover {
  background-color: $rgbl;
  transition: all 0.2s ease-in-out 0s;}

.order__call {
  color: $white;
  border-radius: 50px;
  background-color: $white;
  border: 1px solid $orange;
  color: $orange;
  padding: 10px;
  text-align: center;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 21px;
}
.order__call:hover {
  color: $rgbl;
  border: 1px solid $rgbl;
  transition: all 0.2s ease-in-out 0s;
}
.order__tel {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  color: $black;
}
.order__tel:hover {
  color: $gray;
  transition: all 0.2s ease-in-out 0s;
}

@media #{$desktop-widths} {
  .order__wrapper {
    flex-direction: row-reverse;
    margin-bottom: 40px;
  }
  .order__profit {
    position: relative;
    min-width: 518px;
    min-height: 440px;
    background-image: url(../img/time2.png);
    background-position: -80px 30px;
    background-size: 110%;
  }
  .order__profit:after {
    content: "";
    display: block;
    position: absolute;
    height: 160px;
    width: 376px;
    background-image: url("../img/car.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    top: 250px;;
    left: -45px;
  }
  .order__now {
    width: 100%;
    padding-bottom: 35px;
    h2 {
      font-size: 24px;
      line-height: 30px;
      max-width: 280px;
      padding-top: 20px;
      margin-left: 30px;
    }
    p {
      font-size: 18px;
      line-height: 21px;
      max-width: 380px;
      margin-left: 30px;
      margin-bottom: 0;
      padding-bottom: 35px;
    }
    .order__tel {
      text-align: left;
      margin-left: 30px;
      margin-top: 105px;
    }
    span {
      margin-left: 30px;
    }
  }
  .order__btns {
    // display: flex;
    // justify-content: flex-start;
    position: relative;
  }
  .order__questionnaire {
    position: absolute;
    left: -20px;
    max-height: 36px;
    padding: 8px;
    padding-left: auto;
    padding-right: auto;
    text-align: center;
    vertical-align: baseline;
    // min-width: 185px;
    font-weight: bold;
    margin-left: 0px;
    min-width: 175px;
  }
  .order__call {
    position: absolute;
    left: 190px;
    max-height: 36px;
    padding: 8px;
    padding-left: auto;
    padding-right: auto;
    text-align: center;
    vertical-align: baseline;
    // min-width: 185px;
    font-weight: bold;
    margin-left: 0px;
    min-width: 175px;
  }
}
