.page-footer {
  background-color: #29292a;
  min-height: 489px;
}
.page-footer__wrapper {
  @include container;
  background-image: url("../img/logo-orange.png");
  background-repeat: no-repeat;
  background-position: 15px 40px;
  padding-bottom: 40px;
}

.page-footer__logo {
  background-image: url("../img/logo-orange.png");
  background-repeat: no-repeat;
  background-position: 15px 40px;
  padding-top: 80px;

  a {
    margin-left: 55px;
    color: $white;
    text-decoration: none;
  }
  a:hover {
    color: $gray;
    transition: all 0.2s ease-in-out 0s;
  }
}
.page-footer__menu {
  ul {
    margin: 0;
    padding: 0;
    margin-top: 45px;
    margin-bottom: 50px;
  }
  li {
    list-style: none;
    margin-top: 25px;
    max-width: 230px;
  }
  a {
    color: #7b7b7b;
    text-decoration: none;
    margin-left: 55px;
    display: block;
    font-size: 15px;
  }
  a:hover {
    color: $white;
    transition: all 0.2s ease-in-out 0s;
  }
}
.page-footer__about {
  color: #484848;
  font-size: 13px;
  margin-left: 55px;
    span {
      display: block;
      margin-bottom: 10px;
    }
    a {
      color: #484848;
      text-decoration: underline;
    }
}

@media #{$desktop-widths} {
  .page-footer {
    min-height: 265px;
  }
  .page-footer__wrapper {
    position: relative;
  }
  .page-footer__logo {
    a {
      position: absolute;
      right: 50px;
      bottom: -90px;
    }
  }
  .page-footer__menu {
    position: absolute;
    top: -30px;
    left: 380px;
    li {
      max-width: none;
    }
      ul {
        max-height: 215px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        position: relative;
      }
      li:first-child {
        position: absolute;
        left: 250px;
        max-width: none;
        width: 500px;
      }
  }
  .page-footer__about {
    span:nth-child(1) {
      position: absolute;
      left: 20px;
      bottom: -120px;
    }
    span:nth-child(2) {
      position: absolute;
      right: 50px;
      bottom: -125px;
    }
  }
}
