.page-header {
  min-height: 63px;
}
.page-header__wrapper {
  @include container;
  background-color: $white;
  background-image: url("../img/logo-black.png");
  background-repeat: no-repeat;
  background-position: 30px 15px;
}
.page-header__wrapper-show-menu {
  background-color: $rgbl;
  background-image: url("../img/logo-white.png");
    .page-header__menu--close {
      display: none;
    }
}

.page-header__logo {
  min-width: 176px;
  min-height: 45px;
  // background-image: url("../img/logo-black.png");
  background-repeat: no-repeat;
  background-position: 30px 15px;
}

.page-header__menu {
  &--close {
    position: relative;
  }
  &--open {
    background-color: $white;
    @include container;
    position: absolute;
    top: 50px;
    display: none;
    p {
      padding-left: 70px;
      padding-top: 10px;
      color: $white;
      background-color: $rgbl;
      padding-bottom: 20px;
      margin-top: 0;
    }
    ul {
      margin: 0;
      padding: 0;
      // background-color: $white;
      padding-left: 70px;
      padding-top: 95px;
      padding-bottom: 110px;
    }
    li {
      list-style: none;
      display: flex;
      flex-direction: column;
      padding: 0;

        a {
          text-decoration: none;
          color: $orange;
          padding-bottom: 30px;
        }
        a:last-child {
          padding-bottom: 0;
        }
    }
    button {
      width: 25px;
      height: 25px;
      position: absolute;
      top: -35px;
      right: 10px;
      font-size: 0;
      border: 0;
      cursor: pointer;
      background-color: transparent;
    }
    button:before,
    button:after {
      content: "";
      display: block;
      position: absolute;
      top: 10px;
      right: 0;
      width: 25px;
      height: 3px;
      background-color: $orange;
      border-radius: 1px;
    }
    button:before {
      transform: rotate(45deg);
    }
    button:after {
      transform: rotate(-45deg);
    }
  }
  &--open-show {
    display: block;
  }
}
.page-header__menu-tel {
  position: absolute;
  width: 36px;
  height: 36px;
  border: 1px solid #fdd9a3;
  top: -35px;
  right: 60px;
}
.page-header__menu-tel:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background-image: url("../img/spritesheet.png");
  background-position: -521px -10px;
  position: absolute;
  top: 25%;
  left: 25%;
}
.page-header__menu-open {
  position: absolute;
  width: 36px;
  height: 36px;
  top: -35px;
  right: 15px;
}
.page-header__menu-open:after {
  content: "";
  display: block;
  width: 18px;
  height: 14px;
  background-position: -483px -10px;
  background-image: url("../img/spritesheet.png");
  position: absolute;
  top: 30%;
  left: 25%;
}
.page-header__phone {
  a {
    text-decoration: none;
    display: block;
  }
}
.page-header__phone-number {
  font-size: 21px;
  color: $black;
  font-weight: bold;
  padding-left: 70px;

}
.page-header__phone-but {
  background-color: $orange;
  color: $white;
  font-size: 13px;
  max-width: 133px;
  padding-left: 35px;
  padding-right: 35px;
  text-align: center;
  border-radius: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 18px;
  margin-bottom: 40px;
  margin-left: 70px;
}
@media #{$desktop-widths} {

}
