.profitable-terms__wrapper {
  @include container;
  background-color: #f5f5f5;
  // padding-bottom: 40px;
  margin-bottom: 40px;

    h2 {
      font-size: 21px;
      line-height: 26px;
      text-transform: uppercase;
      @include side-margin;
      padding-top: 10px;
    }
    p {
      font-size: 13px;
      line-height: 21px;
      @include side-margin;
      margin-bottom: 40px;
    }
    p:last-child {
      padding-bottom: 0px;
      margin-bottom: 0;
    }
}
.profitable-terms__requirements {
  margin-left: 10px;
  margin-right: 10px;
  background-color: $white;
  padding-bottom: 20px;

    h3 {
      font-size: 16px;
      line-height: 21px;
      font-weight: bold;
      padding-left: 10px;
      padding-top: 15px;
      margin-top: 0;
      margin-bottom: 10px;
    }
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      list-style: none;
      margin: 0;
      padding: 0;
      padding-left: 25px;
      padding-right: 30px;
      font-size: 13px;
      line-height: 21px;
      position: relative;
    }
    li:before {
      position: absolute;
      content: "";
      display: block;
      width: 4px;
      height: 4px;
      border: 2px solid $orange;
      border-radius: 50%;
      left: 7px;
      top: 12px;
    }
}
.profitable-terms__docs {
  margin-left: 10px;
  margin-right: 10px;
  background-color: $white;
  padding-bottom: 20px;

    h3 {
      font-size: 16px;
      line-height: 21px;
      font-weight: bold;
      padding-left: 10px;
      padding-top: 15px;
      margin-bottom: 10px;
    }
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      list-style: none;
      margin: 0;
      padding: 0;
      padding-left: 25px;
      padding-right: 30px;
      font-size: 13px;
      line-height: 21px;
      position: relative;
    }
    li:before {
      position: absolute;
      content: "";
      display: block;
      width: 4px;
      height: 4px;
      border: 2px solid $orange;
      border-radius: 50%;
      left: 7px;
      top: 12px;
    }
}

@media #{$desktop-widths} {
  .profitable-terms__wrapper {

      h2 {
        font-size: 24px;
      }
      p {
        max-width: 640px;
      }
  }
  .profitable-terms__requirements-all {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  .profitable-terms__requirements {
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
    width: 501px;
  }
  .profitable-terms__docs {
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
    width: 501px;
  }
}
