.profit__wrapper {
  @include container;
  background-color: $rgbl;
  background-image: url(../img/car-time-mob.png);
  background-repeat: no-repeat;
  background-position: 10px 150px;

    h1 {
      color: $white;
      font-size: 36px;
      line-height: 36px;
      margin: 0;
      padding: 0;
      @include side-padding;
      padding-top: 50px;
      padding-bottom: 300px
    }
    .profit__profits {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      color: $white;
        div {
        width: 130px;
        @include side-padding;
        padding-right: 0;
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
        }
        div:nth-child(2n) {
          padding-left: 15px;
        }
    }
    .profit__num {
      font-size: 24px;
      padding-bottom: 20px;
      font-family: 'Roboto Condensed', sans-serif;
    }
    .profit__description {
      font-size: 15px;
      line-height: 28px;
      font-family: 'Roboto Condensed', sans-serif;
    }
}

@media #{$desktop-widths} {
  .profit__wrapper {
    background-image: url(../img/car-time-desktop1.png);
    background-repeat: no-repeat;
    background-position: 90px 45px;
    max-height: 530px;
      h1 {
        font-size: 48px;
        line-height: 56px;
        max-width: 400px;
        text-transform: uppercase;
        padding-top: 30px;
        font-weight: 300;
      }
      .profit__profits {
        justify-content: space-around;
        margin-left: -17px;
        margin-top: -50px;
          div {
            width: 175px;
          }
          div:nth-child(1) {
            width: 160px;
          }
          .profit__num {
            padding-bottom: 10px;
          }
          .profit__description {
            line-height: 21px;
          }
      }
  }
}
