.questionnaire__wrapper {
  @include container;
  background-color: $white;
  margin-bottom: 30px;
}
.questionnaire__header {
  background-color: $rgbl;
  color: $white;
    .questionnaire__menu {
      display: none;
    }
    h2 {
      font-size: 21px;
      line-height: 54px;
      // text-align: center;
      text-transform: uppercase;
      font-weight: normal;
      margin: 0;
      padding: 0;
      padding-top: 40px;
      margin-bottom: -25px;
      @include side-margin;
    }
    span {
      font-size: 15px;
      line-height: 54px;
      @include side-margin;
    }
}

.questionnaire__form {
  display: flex;
  flex-direction: column;
  @include side-margin;
    div {
      display: flex;
      flex-direction: column;
        label {
          font-size: 15px;
          line-height: 30px;
        }
        input {
          height: 40px;
        }
        input:focus {
          outline-color: $orange;
        }
        select {
          height: 40px;
        }
    }
    >div {
      display: none;
    }
    >div.active {
      display: block;
    }
    button {
      // background-color: $orange;
      // padding: 15px;
      // border-radius: 50px;
      // color: $white;
      // text-transform: uppercase;
      // min-width: 187px;
      // max-width: 187px;
      // align-self: center;
      // margin-bottom: 40px;

      min-width: 210px;
      max-width: 210px;
      // color: $white;
      // border-radius: 50px;
      // background-color: $orange;
      // border: 1px solid $white;
      // color: $white;
      // padding: 10px;
      // text-align: center;
      // margin-bottom: 40px;
      // text-transform: uppercase;
      // font-size: 13px;
      // line-height: 21px;

      border-radius: 50px;
      background-color: $orange;
      border: 1px solid $white;
      color: $white;
      padding: 10px;
      text-align: center;
      margin-bottom: 40px;
      text-transform: uppercase;
      font-size: 13px;
      line-height: 21px;
      margin-left: auto;
      margin-right: auto;
    }
}

.questionnaire__form-btn-next {
  // background-color: $orange;
  // padding-top: 15px;
  // padding-bottom: 15px;
  // text-align: center;
  // border-radius: 50px;
  // color: $white;
  // text-transform: uppercase;
  min-width: 187px;
  max-width: 187px;
  // align-self: center;
  // margin-bottom: 40px;

  color: $white;
  border-radius: 50px;
  background-color: $orange;
  border: 1px solid $white;
  color: $white;
  padding: 10px;
  text-align: center;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 21px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -30px;

}
.questionnaire__form-btn-prev {
  // background-color: $white;
  // padding-top: 15px;
  // padding-bottom: 15px;
  // text-align: center;
  // border: 1px solid $orange;
  // border-radius: 50px;
  // color: $orange;
  // text-transform: uppercase;
  min-width: 187px;
  max-width: 187px;
  // align-self: center;
  // margin-bottom: 40px;

  color: $white;
  border-radius: 50px;
  background-color: $white;
  border: 1px solid $orange;
  color: $orange;
  padding: 10px;
  text-align: center;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 21px;
  margin-left: auto;
  margin-right: auto;
}

.questionnaire__form-nb {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 13px;
  line-height: 21px;
  color: #888888;
}
.questionnaire__red-point {
  color: red;
}

.questionnaire__prompts {
  border-top: 1px solid #dcdcdc;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  @include side-margin;
    span {
      font-size: 15px;
      line-height: 21px;
    }
    span:before {
      content: "";
      display: block;
      position: absolute;
      left: -40px;
      top: 10px;
      width: 28px;
      height: 27px;
      background-position: -781px -10px;
      background-image: url("../img/spritesheet.png");
    }
    .questionnaire__prompt_2:before {
      width: 24px;
      height: 28px;
      background-position: -829px -10px;
    }
    .questionnaire__prompt_3:before {
      width: 19px;
      height: 28px;
      background-position: -873px -10px;
    }
}
// .questionnaire__form-checkbox-item {
//   display: flex;
//   flex-direction: row;
// }
.questionnaire__form-checkbox-item {
  position: relative;
    label {
      padding-left: 40px;
      color: #888888;
      font-size: 13px;
      line-height: 21px;
    }
    input {
      position: absolute;
      left: 10px;
      top: -5px;
    }

}
.questionnaire__prompt {
  margin-top: 20px;
  margin-bottom: 30px;
  position: relative;
}
@media #{$desktop-widths} {
  .questionnaire__header {
    .questionnaire__menu {
      @include side-margin;
      border-bottom: 3px solid $orange;
      display: flex;
      justify-content: space-around;;
        a {
          text-transform: uppercase;
          color: rgba(255,255,255,0.5);
          text-decoration: none;
          font-size: 13px;
          line-height: 21px;
          font-weight: bold;
          padding-bottom: 10px;
        }
        a:focus,
        a:hover {
          color: rgba(255,255,255,1);
          transition: all 0.2s ease-in-out 0s;
        }
    }
  }
  .questionnaire__form {

    div {
      position: relative;
        input {
          width: 330px;
        }
        select {
          width: 330px;
        }
        select:focus {
          outline-color: $orange;
        }
        .questionnaire__year {
          max-width: 100px;
        }
        button {
          position: absolute;
          top: 291px;
          right: 335px;
        }
    }
  .questionnaire__form-inputs {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 760px;
    max-height: 230px;
      div {
        margin-right: 45px;
      }
  }
  }
  .questionnaire__form-btn-next:hover {
    background-color: $rgbl;
    transition: all 0.2s ease-in-out 0s;
  }
  .questionnaire__form-btn-prev:hover {
    border-color: $rgbl;
    color: $rgbl;
    transition: all 0.2s ease-in-out 0s;
  }
  .questionnaire__form-personal-data {
    position: relative;
    min-height: 380px;
    padding-top: 30px;

      .questionnaire__form-nb {
        position: absolute;
        top: 10px;
        right: 60px;
        max-width: 150px;
      }
      .questionnaire__form-btn-next {
        position: absolute;
        top: 330px;
        right: 335px;
      }
  }
  .questionnaire__form-passport-data {
    position: relative;
    min-height: 380px;

      .questionnaire__form-inputs {
        flex-direction: row;
        flex-wrap: wrap;
        max-height: 150px;
      }
      .questionnaire__form-nb {
        position: absolute;
        top: 10px;
        right: 60px;
        max-width: 150px;
      }
      .questionnaire__form-btn-next {
        position: absolute;
        top: 300px;
        right: 335px;
      }
      .questionnaire__form-btn-prev {
        position: absolute;
        top: 270px;
        left: 0px;
      }
  }
  .questionnaire__form-auto-data {
    min-height: 460px;
      .questionnaire__form-nb {
        position: absolute;
        top: 10px;
        right: 60px;
        max-width: 150px;
      }
      .questionnaire__form-checkbox {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 150px;
        position: relative;
      }
      .questionnaire__form-checkbox-item {
        position: relative;
        max-width: 335px;
          label {
            padding-left: 25px;
            margin-bottom: 15px;
            font-size: 13px;
            line-height: 21px;
          }
          input {
            position: absolute;
            left: 0px;
            top: 5px;
            width: 15px;
            height: 15px;
          }
      }
      .questionnaire__form-checkbox-item:first-child {
        position: absolute;
        top: 15px;
      }
      .questionnaire__form-checkbox-item:nth-child(2) {
        position: absolute;
        top: -40px;
        left: 380px;
      }
      .questionnaire__form-checkbox-item:nth-child(3) {
        position: absolute;
        top: 30px;
        left: 380px;
      }
      .questionnaire__form-btn-next {
        position: absolute;
        top: 400px;
        right: 335px;
      }
      .questionnaire__form-btn-prev {
        position: absolute;
        top: 370px;
        left: 0px;
      }

  }
  .questionnaire__prompts {
    flex-direction: row;
    justify-content: space-between;
      .questionnaire__prompt {
        max-width: 265px;
      }
  }

}
