.questionnaire__wrapper {
  @include container;
  background-color: $white;
  padding-bottom: 30px;
}
.questionnaire__header {
  background-color: $rgbl;
  color: $white;
  padding-bottom: 20px;
    .questionnaire__menu {
      display: none;
    }
    h2 {
      font-size: 18px;
      // line-height: 54px;
      // text-align: center;
      text-transform: uppercase;
      font-weight: normal;
      margin: 0;
      padding: 0;
      padding-top: 40px;
      margin-bottom: -10px;
      @include side-margin;
    }
    span {
      font-size: 15px;
      line-height: 54px;
      @include side-margin;
    }
}

.questionnaire__form {
  display: flex;
  flex-direction: column;
  @include side-margin;
    div {
      display: flex;
      flex-direction: column;
        label {
          font-size: 15px;
          line-height: 30px;
        }
        input {
          height: 30px;
          padding-left: 10px;
          padding-right: 10px;
        }
        input:focus {
          outline-color: $orange;
        }
        select {
          height: 30px;
        }
    }
    >div {
      display: none;
    }
    >div.active {
      display: block;
    }
    button {
      font-family: 'Roboto Condensed', sans-serif;
      display: block;
      padding: 15px;
      min-width: 190px;
      max-width: 190px;
      border-radius: 50px;
      background-color: $orange;
      border: 1px solid $white;
      color: $white;
      padding: 10px;
      text-align: center;
      margin-bottom: 10px;
      text-transform: uppercase;
      font-size: 13px;
      line-height: 21px;
      margin-left: auto;
      margin-right: auto;
      cursor: pointer;
      transition: all 0.2s ease-in-out 0s;
    }
    button:hover {
      background-color: $rgbl;
      transition: all 0.2s ease-in-out 0s;
    }
}
.questionnaire__form-personal-data {
  padding-top: 30px;
}
.questionnaire__form-passport-data {
  padding-top: 30px;
}
.questionnaire__form-auto-data {
  padding-top: 30px;
}
.questionnaire__form-btn-next {
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 10px;
  display: block;
  min-width: 170px;
  max-width: 170px;
  color: $white;
  border-radius: 50px;
  background-color: $orange;
  border: 1px solid $white;
  color: $white;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 21px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition: all 0.2s ease-in-out 0s;
}
.questionnaire__form-btn-prev {
  font-family: 'Roboto Condensed', sans-serif;
  min-width: 170px;
  max-width: 170px;
  display: block;
  color: $white;
  border-radius: 50px;
  background-color: $white;
  border: 1px solid $orange;
  color: $orange;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 21px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out 0s;
}
.questionnaire__form-btn-next:hover {
  background-color: $rgbl;
  transition: all 0.2s ease-in-out 0s;
}
.questionnaire__form-btn-prev:hover {
  border-color: $rgbl;
  color: $rgbl;
  transition: all 0.2s ease-in-out 0s;
}
.questionnaire__form-nb {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 13px;
  line-height: 21px;
  color: #888888;
}
.questionnaire__red-point {
  color: red;
}

.questionnaire__prompts {
  border-top: 1px solid #dcdcdc;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  @include side-margin;
  position: relative;
    span {
      font-size: 15px;
      line-height: 21px;
    }
}
.questionnaire__form-checkbox-item {
  display: flex;
  flex-direction: row;
}
.questionnaire__form-checkbox-item {
  position: relative;
    label {
      padding-left: 40px;
      color: #888888;
      font-size: 13px;
      line-height: 21px;
    }
    input {
      position: absolute;
      left: 10px;
      top: -5px;
    }

}
.questionnaire__prompt {
  margin-top: 20px;
  // margin-bottom: 30px;
  position: relative;
    svg {
      position: absolute;
      left: -40px;
      top: 10px;
    }
}
.questionnaire__prompt:nth-child(2) {
    svg {
      left: -38px;
    }
}
.questionnaire__prompt:nth-child(3) {
    svg {
      left: -36px;
    }
}
@media #{$desktop-widths} {
  .questionnaire__header {
    padding-bottom: 0px;
      h2 {
        margin-left: 30px;
        padding-top: 35px;
        margin-bottom: -10px;
        font-size: 24px;
      }
      span {
        font-size: 18px;
        margin-left: 30px;
        // padding-bottom: 30px;
      }
      .questionnaire__menu {
        @include side-margin;
        display: flex;
        justify-content: space-between;
        padding-top: 35px;
          a {
            text-transform: uppercase;
            color: rgba(255,255,255,0.5);
            text-decoration: none;
            font-size: 13px;
            line-height: 21px;
            font-weight: bold;
            padding-bottom: 15px;
            padding-left: 50px;
            padding-right: 50px;
            transition: all 0.2s ease-in-out 0s;
          }
          a.active {
            color: rgba(255,255,255,1);
            border-bottom: 3px solid $orange;
            transition: all 0.2s ease-in-out 0s;
          }
      }
  }
  .questionnaire__form {
    margin-left: 30px;
    div {
      position: relative;
        input {
          width: 330px;
        }
        select {
          width: 330px;
        }
        select:focus {
          outline-color: $orange;
        }
        .questionnaire__year {
          max-width: 100px;
        }
        button {
          position: absolute;
          top: 291px;
          right: 335px;
        }
    }
  .questionnaire__form-inputs {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 760px;
    height: 260px;
      div {
        margin-right: 55px;
        margin-top: 5px;
      }
      div:nth-child(1,4) {
        margin-top: 0px;
      }
  }
  }
  .questionnaire__form-btn-next {
    min-width: 190px;
    // max-width: 160px;
  }
  .questionnaire__form-btn-prev {
    min-width: 190px;
    // max-width: 160px;
  }
  .questionnaire__form-personal-data {
    position: relative;
    // min-height: 380px;
    height: 355px;
    padding-top: 30px;

      .questionnaire__form-nb {
        position: absolute;
        top: 40px;
        right: 20px;
        max-width: 150px;
      }
      .questionnaire__form-btn-next {
        position: absolute;
        bottom: 40px;
        right: 195px;
        width: 275px;
        padding-left: 0;
        padding-right: 0;
        margin: 0;
      }
  }
  .questionnaire__form-passport-data {
    position: relative;
    height: 350px;

      .questionnaire__form-inputs {
        flex-direction: column;
        flex-wrap: wrap;
        height: 200px;
      }
      .questionnaire__form-nb {
        position: absolute;
        top: 40px;
        right: 20px;
        max-width: 150px;
      }
      .questionnaire__form-btn-next {
        position: absolute;
        bottom: 40px;
        right: 195px;
        width: 275px;
        padding-left: 0;
        padding-right: 0;
      }
      .questionnaire__form-btn-prev {
        position: absolute;
        bottom: 40px;
        left: 0px;
        width: 275px;
        padding-left: 0;
        padding-right: 0;
      }
  }
  .questionnaire__form-auto-data {
    height: 430px;
      .questionnaire__form-nb {
        position: absolute;
        top: 40px;
        right: 20px;
        max-width: 150px;
      }
      .questionnaire__form-checkbox {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 150px;
        position: relative;
      }
      .questionnaire__form-checkbox-item {
        position: relative;
        max-width: 345px;
          label {
            padding-left: 25px;
            margin-bottom: 15px;
            font-size: 13px;
            line-height: 21px;
          }
          input {
            position: absolute;
            left: 0px;
            top: 5px;
            width: 15px;
            height: 15px;
          }
      }
      .questionnaire__form-checkbox-item:first-child {
        position: absolute;
        top: 40px;
      }
      .questionnaire__form-checkbox-item:nth-child(2) {
        position: absolute;
        top: -35px;
        left: 390px;
      }
      .questionnaire__form-checkbox-item:nth-child(3) {
        position: absolute;
        top: 30px;
        left: 390px;
      }
      .questionnaire__form-btn-submit {
        position: absolute;
        top: 376px;
        right: 235px;
        display: block;
        // height: 45px;
        padding: 10px;

        width: 275px;
        padding-left: 0;
        padding-right: 0;
      }
      .questionnaire__form-btn-prev {
        position: absolute;
        bottom: 30px;
        left: 0px;
        width: 275px;
        padding-left: 0;
        padding-right: 0;
      }

  }
  .questionnaire__prompts {
    flex-direction: row;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
      .questionnaire__prompt {
        max-width: 220px;
        margin-right: 25px;
      }
  }
  .questionnaire__wrapper {
    margin-bottom: 40px;
  }
}
