.reviews__wrapper {
  @include container;
  background-color: $white;
  margin-bottom: 30px;
  max-height: 460px;
  min-height: 460px;

    h2 {
      font-size: 21px;
      line-height: 54px;
      text-transform: uppercase;
      @include side-margin;
    }
}
.reviews__slider {
  position: relative;
}
.reviews__slider .slick-prev {
  position: absolute;
  left: 70px;
  bottom: 100px;

  font-size: 0;
  border: 0;
  cursor: pointer;
  background-color: transparent;

  width: 7px;
  height: 10px;
  padding: 10px;
  border: 1px solid $orange;
  border-radius: 50%;
  background-image: url("../img/spritesheet.png");
  background-position: -511px -5px;
  background-repeat: no-repeat;
  box-sizing: border-box;
}
.reviews__slider .slick-prev:hover {
  border: 1px solid $rgbl;
  background-position: -538px -5px;
  transition: border 0.2s ease-in-out 0s;
}
.reviews__slider .slick-next {
  position: absolute;
  right: 70px;
  bottom: 0px;

  font-size: 0;
  border: 0;
  cursor: pointer;
  background-color: transparent;

  width: 7px;
  height: 10px;
  padding: 10px;
  border: 1px solid $orange;
  border-radius: 50%;
  background-image: url("../img/spritesheet.png");
  background-position: -564px -5px;
  background-repeat: no-repeat;
  box-sizing: border-box;
}
.reviews__slider .slick-next:hover {
  border: 1px solid $rgbl;
  background-position: -591px -5px;
  transition: border 0.2s ease-in-out 0s;
}
.reviews__slider .slick-dots {
  display: inline;
  position: absolute;
  bottom: -10px;
  left: 90px;
    li {
      display: inline;
        button {
          font-size: 0;
          border: 0;
          cursor: pointer;

          max-width: 1px !important;
          height: 3px;
          border: 1px solid transparent;
          border-radius: 50px;
          margin-left: 5px;
          outline: none;
        }
        button:focus,
        button:hover {
          background-color: $rgbl;
          outline: none;
        }
    }

}
.reviews__slide {
  position: relative;
    p {
      font-size: 13px;
      line-height: 18px;
      @include side-margin;
    }
    .author__info {
      display: flex;
      flex-direction: column;
      align-items: center;
        img {
          display: block;
          border-radius: 50px;
          // margin-left: auto;
          // margin-right: auto;
        }

        span {
          display: block;
          font-size: 15px;
          line-height: 21px;
          // margin-left: 105px;
        }
        time {
          display: block;
          font-size: 13px;
          line-height: 21px;
          color: #7b7b7b;
          // margin-left: 120px;
        }
    }
}

@media #{$desktop-widths} {
  .reviews__wrapper {
    max-height: 300px;

      h2 {
        font-size: 24px;
      }
  }
  .reviews__slider {
    position: relative;
  }
  .reviews__slide {
    display: flex;
    flex-direction: row;
    position: relative;
    p {
      max-width: 664px;
      font-size: 15px;
      line-height: 21px;
    }
    .author__info {
      position: absolute;
      right: 100px;
      bottom: 15px;
    }
    // .reviews__slide-prev {
    //   left: -30px;
    // }
    // .reviews__slide-next {
    //   right: -30px;
    // }
  }
}
.reviews__slider .slick-prev {
  position: absolute;
  left: 900px;
  bottom: 330px;
}
.reviews__slider .slick-next {
  position: absolute;
  right: 65px;
  bottom: 330px;
}

.reviews__slider .slick-dots {
  position: absolute;
  bottom: 220px;
  left: 925px;
    li {
        button {
          max-width: 1px !important;
          height: 3px;
        }
    }
}
