.reviews__wrapper {
  @include container;
  background-color: $white;
  margin-bottom: 30px;
  max-height: 480px;
  min-height: 480px;
  padding-bottom: 60px;

    h2 {
      font-size: 21px;
      line-height: 54px;
      text-transform: uppercase;
      margin: 0;
      @include side-margin;
      padding-top: 60px;
    }
}
.reviews__slider {
  position: relative;
}
.reviews__slider .slick-prev {
  position: absolute;
  left: 70px;
  top: 260px;
  z-index: 10;
  outline: none;

  font-size: 0;
  border: 0;
  cursor: pointer;
  background-color: transparent;

  width: 7px;
  height: 10px;
  padding: 10px;
  border: 1px solid $orange;
  border-radius: 50%;
  background-image: url("../img/spritesheet.png");
  background-position: -511px -5px;
  background-repeat: no-repeat;
  box-sizing: border-box;
}
.reviews__slider .slick-prev:hover {
  border: 1px solid $rgbl;
  background-position: -538px -5px;
  transition: border 0.2s ease-in-out 0s;
}
.reviews__slider .slick-next {
  position: absolute;
  right: 70px;
  top: 260px;
  outline: none;

  font-size: 0;
  border: 0;
  cursor: pointer;
  background-color: transparent;

  width: 7px;
  height: 10px;
  padding: 10px;
  border: 1px solid $orange;
  border-radius: 50%;
  background-image: url("../img/spritesheet.png");
  background-position: -564px -5px;
  background-repeat: no-repeat;
  box-sizing: border-box;
}
.reviews__slider .slick-next:hover {
  border: 1px solid $rgbl;
  background-position: -591px -5px;
  transition: border 0.2s ease-in-out 0s;
}
.reviews__slider .slick-dots {
  display: inline;
  position: absolute;
  bottom: -55px;
  left: 95px;
    li {
      display: inline;
        button {
          font-size: 0;
          border: 0;
          cursor: pointer;

          width: 6px;
          height: 6px;
          border: 1px solid transparent;
          border-radius: 50px;
          margin-left: 5px;
          outline: none;

          padding: 0;
        }
        button:focus,
        button:hover,
        button:active {
          background-color: $rgbl;
          outline: none;
        }
    }
    li.slick-active button {
      background-color: $rgbl;
      outline: none;
    }

}
.reviews__slide {
  position: relative;
    p {
      font-size: 13px;
      line-height: 18px;
      @include side-margin;
      margin-top: 5px;
    }
    .author__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 30px;
        img {
          display: block;
          border-radius: 50px;
          // margin-bottom: 10px;
          // margin-left: auto;
          // margin-right: auto;
        }

        span {
          display: block;
          font-size: 15px;
          line-height: 21px;
          padding-top: 10px;
          // margin-left: 105px;
        }
        time {
          display: block;
          font-size: 13px;
          line-height: 21px;
          color: #7b7b7b;
          // margin-left: 120px;
        }
    }
}

@media #{$desktop-widths} {
  .reviews__wrapper {
    min-height: 300px;
    max-height: 300px;

      h2 {
        font-size: 24px;
        padding-top: 20px;
        padding-left: 0;
        margin-left: 30px;
      }
  }
  .reviews__slider {
    position: relative;
  }
  .reviews__slide {
    display: flex;
    flex-direction: row;
    position: relative;
    p {
      max-width: 664px;
      font-size: 15px;
      line-height: 21px;
      padding-left: 0;
      margin-left: 30px;
    }
    .author__info {
      position: absolute;
      right: 120px;
      bottom: 0px;
    }
    .author__info:before {
      content: "";
      display: block;
      width: 17px;
      height: 179px;
      background-image: url("../img/line.png");
      position: absolute;
      left: -110px;
    }
  }
  .reviews__slider .slick-prev {
    position: absolute;
    left: 770px;
    top: 50px;
  }
  .reviews__slider .slick-next {
    position: absolute;
    right: 80px;
    top: 50px;
  }

  .reviews__slider .slick-dots {
    position: absolute;
    bottom: -50px;
    left: 800px;
      li {
          button {
            width: 6px;
            height: 6px;
          }
      }
  }
}
