.steps__wrapper {
  @include container;
  padding-bottom: 40px;
  position: relative;
  background-color: $white;

    h2 {
      font-size: 21px;
      line-height: 26px;
      text-transform: uppercase;
      @include side-margin;
      margin-right: 60px;
      padding-top: 30px;
    }
    ul {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
      margin-left: 20px;
      margin-right: 20px;
    }

    li {
      list-style: none;
      max-width: 100px;
      padding-top: 20px;
      font-size: 13px;
      line-height: 18px;
      position: relative;
    }
    li:nth-child(2n) {
      align-self: flex-end;
    }
    .steps__num-5 {
      position: relative;
    }

}

.steps__line {
  height: 400px;
  width: 1px;
  border-left: 1px dotted $orange;
  position: absolute;
  left: 50%;
  top: 160px;
}
.steps__num-5:after {
  content: "";
  font-size: 21px;
  padding-left: 8px;
  padding-top: 8px;
  box-sizing: border-box;
  display: block;
  width: 36px;
  height: 36px;
  border: 2px solid $orange;
  background-color: $white;
  border-radius: 50%;
  position: absolute;
  left: 122px;
  top: 50%;
}
.steps__num-right:after {
  content: "";
  font-size: 21px;
  padding-left: 12px;
  padding-top: 8px;
  box-sizing: border-box;
  display: block;
  width: 36px;
  height: 36px;
  border: 2px solid $orange;
  background-color: $white;
  border-radius: 50%;
  position: absolute;
  left: 122px;
  top: 50%;
}

.steps__num-left:after {
  content: "";
  font-size: 21px;
  padding-left: 12px;
  padding-top: 8px;
  box-sizing: border-box;
  display: block;
  width: 36px;
  height: 36px;
  border: 2px solid $orange;
  background-color: $white;
  border-radius: 50%;
  position: absolute;
  right: 122px;
  top: 50%;
}
.steps__num-1:after {
  content: "1";
  font-size: 21px;
  padding-left: 10px;
  padding-top: 8px;
}
.steps__num-2:after {
  content: "2";
  font-size: 21px;
  padding-left: 10px;
  padding-top: 8px;
}
.steps__num-3:after {
  content: "3";
  font-size: 21px;
  padding-left: 10px;
  padding-top: 8px;
}
.steps__num-4:after {
  content: "4";
  font-size: 21px;
  padding-left: 10px;
  padding-top: 8px;
}
.steps__num-5:after {
  content: "5";
  font-size: 21px;
  padding-left: 10px;
  padding-top: 8px;
}

@media #{$desktop-widths} {
  .steps__wrapper {
    min-height: 305px;
    max-height: 305px;
    padding-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 0;
      h2 {
        @include side-margin;
        margin-top: 0;
        padding-top: 0;
      }
      ul {
        flex-direction: row;
        justify-content: space-around;
      }
      li {
        max-width: 150px;
      }
      li:nth-child(2n) {
        align-self: flex-start;
        margin-top: 130px;
      }
  }
  .steps__line {
    height: 1px;
    width: 1010px;
    border-left: none;
    border-top: 1px dotted $orange;
    left: 60px;
    top: 185px;
  }
  .steps__num-right:after {
    left: -15px;
    top: 95px;
  }
  .steps__num-left:after {
    left: -15px;
    top: -35px;
  }
  .steps__num-1:after {
    left: 0px;
    top: 95px;
  }
  .steps__num-5:after {
    left: 90px;
    top: 95px;
  }
}
